<ion-footer-bar class="bar bar-footer has-footer bar-positive">
   	<ion-tabs class="tabs-positive">
		<ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home" ng-click="test()">
			<!--<ion-nav-view name="content"></ion-nav-view>-->
		</ion-tab>
		<ion-tab title="Map" icon-on="ion-map" icon-off="ion-map" ng-click="test2()">
			<ion-nav-view name="tab-map"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Search" icon-on="ion-search" icon-off="ion-search" href="#/Accueil/Conseils"> 
			<ion-nav-view name="tab-search"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Favorites" icon-on="ion-ios-star" icon-off="ion-ios-star" href="#/app/favorite-businesses/root">
			<ion-nav-view name="tab-favorites"></ion-nav-view>
		</ion-tab>
    </ion-tabs>
   </ion-footer-bar>