<ion-view view-title="{{page}}">
	<ion-content> 
		<div class="list">
			<div class="item item-divider">
			    Le mot de la Présidente
			</div>
	  		<div class="item item-body">
			    <img src="img/logo_no.png" width="100" height="100" />
			    <pre id="mot" ng-repeat="(i,j) in data">{{j[0]}}</pre>
			</div>
			<div class="row">
			<div class="col-80"></div>
			<div class="item item-avatar col-20">
			    <img src="img/logo_no.png" width="53" height="44" />
			    <h2>La Présidente,</h2>
			    <pre id="ita" ng-repeat="(i,j) in data">{{j[2]}}</pre>
			</div>
			</div>
		</div>
	</ion-content> 
</ion-view>